@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits DMRS.Client.Components.LocalizedComponentBase
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        @Loc["auth.hello", context.User.Identity?.Name ?? ""]
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">@Loc["auth.logout"]</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="BeginLogin">@Loc["auth.login"]</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void BeginLogin() => Navigation.NavigateToLogin("authentication/login", new InteractiveRequestOptions
    {
        Interaction = InteractionType.SignIn,
        ReturnUrl = Navigation.BaseUri
    });
    private void BeginLogOut() => Navigation.NavigateToLogout("authentication/logout");
}